.appbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 6px 56px; */
  position: fixed;
  z-index: 40;
  width: 100%;
  height: 72px;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.7);
  /* box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); */
}

.appbar_dark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 6px 56px; */
  position: fixed;
  z-index: 40;
  width: 100%;
  height: 72px;
  left: 0px;
  top: 0px;
  background: rgba(24, 24, 29, 0.7);
  /* box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); */
}

.background_base {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: #24242b;
}

.sidebar_add_btn {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  position: relative;
}

.sidebar_content {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
