
/** CSS for the Chatbox module */
  ._GNUuf img {
    height: 16px !important;
    display: inline-block;
  }
  ._1O9TM {
    display: inline-block;
    max-width: inherit;
  }

  ._3XzrZ {
    word-break: break-all;
  }
  ._2X5nI {
    display: none;
  }